<html>
    <head>
        <meta charset="utf-8">
        <title>CHANGE ME TO PLANT NAMeE</title>
        {% include "bootstrap.html" %}
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" />
    </head>
    <body>
        {% include "navigation.html" %}
        <div class="jumbotron">
            <h1>Edit Journal Entry</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form_data %}
                  <p> <h4>{{ field.label }}:</h4> {{field.value}} </p>
                {% endfor %}

            </form>
        </div>
    </body>
</html>
