<html>
     <head>
	{% load static %}
    	{% include "bootstrap.html" %}
    	{% include "navigation.html" %}
    	<script src="{%static 'chess.js' %}"></script>
    	<link rel="stylesheet" href="{%static 'chess.css' %}" />
	</head>
	<body>
	<h2> CINS 465: Assignment 4 by Chloe Koschnick </h2>
	<hr></hr>
		<h3>About</h3>
		<p> Hello, I'm Chloe!  I'm a third year computer science student.  I'm originally from Redding, which is very similar to Chico!  I love camping and hiking with my dog Parker, especially up in the Pacific North West; I make my way to the Northern California/Southern Oregon coast as often as I possibly can.  I also have many artistic hobbies, like sewing, ceramics, crocheting, and baking.  At this point, my goals are to finish up and graduate soon!  Over the next year, I hope to find which facet of computer science I would like to pursue beyond graduation, and hopefully have a job already lined up for when I move down towards San Diego.  I currently work at the Gateway Science Museum on campus, and it's been a great way to incorporate some of my knowledge with STEM education.  At the museum, I do some very basic website maintenence. I've enjoyed what I've done with it so far, so I'm really excited to take this class and take a deeper dive into web development!</p>
		<img src="{%static 'images/chloe.jpg' %}" width="500">
	</body>
</html>
