<html>
	 <head>
	{% load static %}
    	{% include "bootstrap.html" %}
    	{% include "navigation.html" %}
    	<script src="{%static 'chess.js' %}"></script>
    	<link rel="stylesheet" href="{%static 'chess.css' %}" />
	<head>
	<body>
		<h2> CINS 465: Assignment 4 by Chloe Koschnick </h6>
		<p></p>
		<h2> History of Chess </h2>
	 	<hr></hr>
		<p>	Chess is a game that has evolved and spread widely.  The chess board is broken down into ranks (rows by numbers) and files (columns by letters).  It is played with 32 pieces (as listed below), 16 of each white and black.  Through the game, players move their pieces across the board to achieve checkmate, or capturing the opponent's king piece.</p>
		<hr></hr>
	</body>
</html>
