<html>
	 <head>
		{% load static %}
	    	{% include "bootstrap.html" %}
	    	{% include "navigation.html" %}
	    	<script src="{%static 'chess.js' %}"></script>
	    	<link rel="stylesheet" href="{%static 'chess.css' %}" />	
	    	<h2> CINS 465: Assignment 4 by Chloe Koschnick </h2>	
	 </head>
	 <body>
	 	<table>
	 		{% for row in rows %}
		 	<tr>
		 		<th>{{ forloop.revcounter }}</th>
		 		{% for name,value in row.items %}
		 		<td id="{{name}}">
		 		{% autoescape off %} {{value}} {% endautoescape %}
		 		</td>
		 		{% endfor %}
		 	</tr>
		 	{% endfor %}
		 	<tr><th></th><th><center>a</center></th><th><center>b</center></th><th><center>c</center></th><th><center>d</center></th><th><center>e</center></th><th><center>f</center></th><th><center>g</center></th><th><center>h</center></th></tr>
		 	<!-- for the record, I tried creating a css style for th with text aligned center, but it was not working properly -->
	 	</table>
	 	<p></p>
	 	<form>
		  <div class="form-group">
			<input type="start" class="form-control" id="src" placeholder="e2">
		  </div>
		  <div class="form-group">
			<input type="end" class="form-control" id="dst" placeholder="e4">
		  </div>
		  <button onclick="move()" type="button" class="btn2">Submit</button>
		  <button onclick="reset()" type="btn" class="btn1">Reset</button> 
		</form>
 		<hr></hr>
 	</body>
 </html>
